
body {
    font-family: Arial, sans-serif;
    background-color: #392759 ; f4f4f4  81726A
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.quizz-container {
    width: 100%;
    max-width: 550px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


h1 {
    color: #004643;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 15px;
}

h2 {
    color: #D1AC00;
    text-align: center;
    margin-bottom: 25px;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}


li p span {
    color: #D1AC00;
    font-weight: bold;
}

.score-container {
    width: 100%;
    max-width: 550px;
    display: flex;
    justify-content: center;
    background-color: #D1AC00;;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#final-score {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

